*.log
*.pot
*.pyc
*~
local_settings.py
src/wsgi.py
src/settings_local.py
src/deploy-config/
src/log/
# For who using PyDev + Eclipse like me :D
src/.project
src/.project/*
src/.pydevproject
src/.settings/*
src/cache/*
